:root {
  --background-color: #212529;
  --drum-machine-color: rgba(255, 255, 255, 0.8);
}

.App {
  margin: 0;
  background-color: var(--background-color);
}

#vertical-center{
  min-height: 100%;   /* Fallback for browsers do not support vh unit */
  min-height: 100vh;
  align-items: center;
  display: flex;
}

#drum-machine{
  background-color: var(--drum-machine-color);
  align-items: center;
  display: flex;
}

.drum-pad{
  margin: 1.66667%;
  width: 30%;
  height: 20vh;
}

.drum-vol-slider{
  width: 80%;
}

#display{
  width: 100%;
  text-align: center;
}